@page "/methodcallstatistics"
@using BlazorWasmProfiler;

<style>
    /* Basic table styles */
    .table {
        border-collapse: collapse;
        border: 1px solid #ccc;
        font-size: 14px;
    }

        /* Header row styles */
        .table thead {
            background-color: #f2f2f2;
        }

        /* Table header cell styles */
        .table th {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        /* Table body row styles */
        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tbody tr:hover {
            background-color: #ddd;
        }

        /* Table data cell styles */
        .table td {
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }
</style>

<h3>Method Call Statistics</h3>

@if (methodStatistics != null && methodStatistics.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Method</th>
                <th>Caller</th>
                <th>Call Count</th>
                <th>Total Execution Time (ms)</th>
                <th>Average Execution Time (ms)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ExecutionStatistics executionStatistics in methodStatistics.Values)
            {
                <tr>
                    <td>@executionStatistics.MethodName</td>
                    <td>@executionStatistics.CallerMethodName</td>
                    <td>@executionStatistics.Count</td>
                    <td>@executionStatistics.TotalTime.TotalMilliseconds</td>
                    <td>@executionStatistics.GetAverageTime().TotalMilliseconds</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No method call statistics available.</p>
}

@code {
    private IReadOnlyDictionary<string, ExecutionStatistics>? methodStatistics;

    protected override void OnInitialized()
    {
        methodStatistics = MethodExecutionTimeAttribute.GetMethodStatistics();
    }
}